* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.row {
/* display: flex;
flex-wrap: wrap; */
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
justify-content: center;
}

.country {
  /* flex: 1;
  flex-basis: 120px; */
  border: 1px solid rgb(255, 192, 213);
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom ease .25s;
  position: absolute;
  bottom: -100px;
  background-color: rgb(255, 192, 213);
  opacity: .9;
  width: 100%;
  color: white;
}

.country:hover .overlay {
  opacity: .9;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
 .row {
     flex-direction: column;
    }
}